extends layout

block content
  .main
    .title
      |The Zine
    .action
        |Article Listing
  .content
    .row
      .articleTitleBlack(style='background-image: url(images/default.jpg); background-size: 1000px  background-position: 50% 30%')
        .articleTitleText
          a(href="articles/new") add article
    .errors
    if articles
      each item in articles
        .row
          if item.dark  == 'on'
            .articleTitleWhite(style='background-image: url('+item.bkg+'); background-size: 1000px  background-position: 50% 30%')
              .articleTitleText
                a(href='articles/view/'+item._id)= item.title
              .articleEdit
                a.white(href='/articles/'+item._id+'/edit') Edit
          else 
            .articleTitleBlack(style='background-image: url('+item.bkg+'); background-size: 1000px; background-position: 50% 30%')
              .articleTitleText
                a(href='articles/view/'+item._id)= item.title
              .articleEdit
                a.black(href='/articles/'+item._id+'/edit') Edit
          .articleExcerpt
            = item.excerpt
