doctype html
html
  head
    title The Zine | a hipster mag
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/articles.css')
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css')
  body
    block content
