body {
  position:relative;
  padding-top: 0px;
  padding-left:90px;
  padding-right:90px;
  margin: 0px !important;
  box-sizing: border-box;
  font: 14px Arial, sans-serif;
  background-image: url(../images/congruent_outline.png);
}

a {
  color: #00B7FF;
}

.main {
  margin:0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
  border:1px solid black;
  max-width:900px;
  min-width:600px;
  height: 150px;
  background-image: url(../images/bkg.jpg);
  background-size: 2000px;
}

.title {
  vertical-align: bottom;
  text-align: right;
  margin-top:60px;
  padding-right:20px;
  box-sizing: border-box;
  border:0px solid black;
  min-width:600px;
  font: 30px Arial, sans-serif;
  font-weight: bold;
}

.title a{
  color: rgb(0, 0, 0);
  font: 30px Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.title a:hover{
  color: rgb(0, 255, 255);
  font: 30px Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.content {
  margin:0 auto;
  padding:0px;
  box-sizing: border-box;
  border:0px solid black;
  max-width:900px;
  min-width:600px;
  height: 600px;
  /*background-color: rgb(255, 255, 255);*/
}

.contentWhite {
  margin:0 auto;
  padding:20px;
  box-sizing: border-box;
  border:0px solid black;
  max-width:900px;
  min-width:600px;
  height: 600px;
  background-color: rgb(255, 255, 255);
}


.row {
  box-sizing: border-box;
  border:0px solid black;
  vertical-align: top;
}

.label {
  display:inline-block;
  vertical-align: top;
  border:0px solid black;
  width: 180px;
}

.inputs {
  display:inline-block;
  border:0px solid black;
  box-sizing: border-box;
  margin-bottom:15px;
}

.inputField {
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  padding-left:10px;
  width: 600px;
  min-width: 400px;
  height: 22px;
}

.inputFieldError {
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  padding-left:10px;
  background-color: rgb(255, 210, 210);
  width: 600px;
  min-width: 400px;
  height: 22px;
}
.errors {
  border: 0px solid black;
  margin-left:180px;
  margin-bottom:5px;
  display:inline-block;
  color: rgb(255, 0, 0);
  font-size: 12px;
}

.inputText {
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  padding-left:10px;
  width: 600px;
  min-width: 400px;
  height: 100px;
  resize: none;
}

.inputTextError {
  display:inline-block;
  border:1px solid black;
  padding-left:10px;
  box-sizing: border-box;
  background-color: rgb(255, 210, 210);
  width: 600px;
  min-width: 400px;
  height: 100px;
  resize: none;
}

.submit {
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom:15px;
  height: 22px;
  width: 193px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
  background-color: rgb(195, 195, 195);
}

.submit:hover {
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom:15px;
  height: 22px;
  width: 193px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(155, 255, 155);
  transition: all .3s;
}

.cancel {
  text-align: center;
  vertical-align: top;
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-bottom:15px;
  margin-right: 10px;
  height: 22px;
  width: 193px;
  background-color: rgb(155, 155, 155);
  cursor: pointer;
  transition: all .3s;
}

.cancel:hover {
  text-align: center;
  vertical-align: top;
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-bottom:15px;
  margin-right: 10px;
  height: 22px;
  width: 193px;
  background-color: rgb(105, 105, 105);
  cursor: pointer;
  transition: all .3s;
}


.cancel a{
  display:inline-block;
  height: 22px;
  width: 193px;
  padding-top:3px;
  vertical-align: middle;
  font-size: 12px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete {
  text-align: center;
  vertical-align: top;
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-bottom:15px;
  height: 22px;
  width: 193px;
  background-color: rgb(255, 155, 155);
  cursor: pointer;
  transition: all .3s;
}

.delete:hover {
  text-align: center;
  vertical-align: top;
  display:inline-block;
  border:1px solid black;
  box-sizing: border-box;
  margin-bottom:15px;
  height: 22px;
  width: 193px;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  transition: all .3s;
}


.delete a{
  display:inline-block;
  height: 22px;
  width: 193px;
  padding-top:3px;
  vertical-align: middle;
  font-size: 12px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
